name: publish yolkwasm

on:
  push:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: add deps
        run: bun install

      - name: build
        run: bun run cli/build.ts

      - name: install npm
        run: bun install -g npm@latest

      - name: publish to npm
        run: npm publish
